<!DOCTYPE html>
<html>
<head>
    <title>Genre List</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet">
</head>
<body>
<div class="container mt-5">
        
    <h2>Genre List</h2>

        <a href="{% url 'genre_create' %}" class="btn btn-primary mb-3">
            Add Genre
        </a>

        <a href="{% url 'book_list' %}" class="btn btn-primary mb-3">
            
            Book List
        </a>
        <br>

    <table class="table table-bordered table-striped">
        <thead>
            <tr>
                <th>ID</th>
                <th>Genre Name</th>
                <th>Active</th>
                <th>Created At</th>
            </tr>
        </thead>

        <tbody>
            {% for genre in genres %}
            <tr>
                <td>{{ genre.id }}</td>
                <td>{{ genre.name }}</td>
                <td>{{ genre.is_active }}</td>
                <td>{{ genre.created_at }}</td>
            </tr>
            {% empty %}
            <tr>
                <td colspan="4" class="text-center">No genres found.</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>

</div>
</body>
</html>